nav ul li{
    list-style: none;
    margin: 20px;

}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

.navstyles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
    
    
}
nav ul{
    display: flex;
}
.color1{
    color: #8987A1;
}
.color2{
    color: #252432;
}
.imgstyle{
    width: 135px;
    height: 82px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin: 20px 50px;
     gap: 10px;
    
}
.img2{
    height: 355px;
    width: 570px;
}
.banner-description{
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}
.banner-t2{
    color: #E95A08;
}
 @media (max-width: 320px){
    .logo{
        font-size: 16px;
    }
    .links{
        font-size: 16px;
        padding: 0.3rem , 0.2rem;
    }
 }

 .plants-title{
    font-size: 60px;
    font-weight: bold;
 }

 .plants-description{
    align-items: center;
    justify-content: center;
   
 }
 main{
    max-width: 1400px;
    margin: 0 auto;

 }

 .btn-style{
    background-color: #E95A08;
    height: 50px;
    width: 270px;
    border: none;
 }
 .font-color{
    color: #FFFFFF;
 }
.chart-f1{
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 20 30;
    padding: 20px 30px;
}

.img3{
    height:320px ;
    width: 270px;
}

.seller{
    width: 540px;
    height: 597px;
}

.seller-style{
     align-items: center;
    display: flex;
    justify-content: center;
    gap: 50;
    margin: 50 , 30 ;

}

.img-5{
    width: 286px;
    height: 286px;
    position: relative;
    right: -15px;
}

.img-edit{
    position: relative;
    right: -600px;
    top: -700px;

}